fieldset label {
    display: block;
    float: none;
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    padding-left: 10px;
    margin: -5px 0 5px 0;
    text-transform: uppercase;
}

input[type=file]{
    padding-left: 10px;
    float:left;
}

.alt_btn{
    float:right;
    margin-right: 45px;
}