.width_3_quarter {
    width: 95%;
    margin-right: 0;
    float: left;
}

.submit_link input[type=text]{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    height: 20px;
    width: 55%;
    color: grey;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    text-indent: 10px;
    background-position: 10px 6px;
    float: none;
    margin: 0 3.5%;
}


a.folder{
    display:block;
    height:75px;
    width:160px;
    background: url(../images/folder_icon.png) no-repeat;
    color: #fff;
    font-size: 20px;
    box-shadow: blue;
    padding-top: 90px;
    padding-left: 10px;
    text-decoration: none;
}

a.folder:hover{
    display:block;
    height:75px;
    width:160px;
    background: url(../images/folder_icon_hover.png) no-repeat;
    color: white;
    font-size: 20px;
    box-shadow: blue;
    padding-top: 90px;
    padding-left: 10px;
}

.folder-pack{
    float:left;
    width: 200px;
    padding-left: 20px;
}
