h3{
    padding-left: 220px;
}

p{
    padding-left: 15px;
    margin: 0;
    color: #666666;
    font-weight: bold;
    display: block;
    float: left;
    width: 85%;
    height: 35px;
    line-height: 35px;
    text-indent: 25px;
    text-shadow: 0 1px 0 #fff;
    margin-left: 6%;
}

p.error{
display: block;
    width: 91%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F3D9D9;
    color: #7B040F;
    text-indent: 40px;
    font-size: 12px;
    margin-bottom: 10px;
}

p.username{
    background: url(../images/icn_profile.png) no-repeat center left;
}
p.password{
    background: url(../images/icn_security.png) no-repeat center left;
}

.module {
    margin: 150px 3% 0 34%;
}
.post_message input[type=text] {
    width: 55%;
    float: none;
}
.post_message input[type=password] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    height: 20px;
    width: 55%;
    color: #ccc;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    text-indent: 10px;
    background-position: 10px 6px;
    float: none;
    margin: 0 3.5%;
}

.width_quarter {
    width: 31%;
    margin-right: 0;
    float: left;
}